@import '../../variables.scss';

.textWrapper {
  display: flex;
  margin-left: 30px;
  margin-right: 2%;
  align-items: center;

  @media screen and (max-width: $breakpoint-mobile) {
    align-items: center;
    justify-content: center;
    margin: 8px 0 0 0;
    text-align: center;
    padding: 0 25px;
  }

  > span {
    color: $white;
    font-size: 30px;
    text-wrap: wrap;

    @media screen and (max-width: $breakpoint-large) {
      font-size: 25px;
    }

    @media screen and (max-width: $breakpoint-medium) {
      font-size: 22px;
    }

    @media screen and (max-width: $breakpoint-small) {
      font-size: 18px;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 15px;
    }
  }
}
