@import '../../variables.scss';

.tabSelector {
  display: flex;
  height: 30px;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 20%;
  }

  > .backButton,
  > .forwardButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;

    > i {
      color: $white;
      font-size: 35px;
    }
  }
}
