@import '../../variables.scss';

.tabWrapper {
  display: flex;
  align-items: flex-start;
  padding: 2% 0;
  @include noselect;

  > .tab {
    width: 100%;
    display: flex;

    @media screen and (max-width: $breakpoint-mobile) {
      flex-wrap: wrap;
      flex-direction: column!important;
      justify-content: center;
    }
  }
}
