@import '../../variables.scss';

.appWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > .tabSelectorWrapper {
    flex: 1 1 10%;
    display: flex;

    @media screen and (max-width: $breakpoint-medium) {
      padding-top: 10px;
    }

    > .viewCodeButtonWrapper {
      position: absolute;
      margin: 20px 0 0 20px;

      @media screen and (max-width: $breakpoint-mobile) {
        margin: 5px 0 0 10px;
      }
    }
  }

  > .tabWrapper {
    flex: 1 1 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

.animationEnter {
  @include addAnimation('addAnimation', 20%);
}

.animationEnterDone {
  flex: 20%!important;
}

.animationExit {
  @include removeAnimation('removeAnimation', 20%);
}

.animationExitDone {
  flex: .000001;
  height: 0;
}
