$background-color: #242B38;
$black: #242B38;
$white: #fff;
$light-gray: darken($white, 15%);
$gray: darken($white, 30%);
$dark-gray: darken($white, 50%);

$animation-time: .3s;

$breakpoint-large: 1500px;
$breakpoint-medium: 1250px;
$breakpoint-small: 900px;
$breakpoint-mobile: 650px;

@mixin noselect {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none;   /* Firefox all */
  -ms-user-select: none;  /* IE 10+ */
   user-select: none;  /* Likely future */
}

@mixin addAnimation($animationName, $flexMax)  {
  $time: $animation-time;

  -webkit-animation: #{$animationName} $time ease forwards;
  -o-animation: #{$animationName} $time ease forwards;
  animation: #{$animationName} $time ease forwards;

  @keyframes #{$animationName} {
    0% {
      transform: translateY(400%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@mixin removeAnimation($animationName, $flexMax)  {
  $time: $animation-time;

  -webkit-animation: #{$animationName} $time ease forwards;
  -o-animation: #{$animationName} $time ease forwards;
  animation: #{$animationName} $time ease forwards;

  @keyframes #{$animationName} {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(400%);
    }
  }
}
